{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">

{% block head %}
<head>
	<title>Django Tailwi</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	{% tailwind_css %}
</head>
{% endblock %}

{% block body %}
<body class="font-serif leading-normal tracking-normal bg-slate-50">
	
	{% block header %}
	{% endblock %}


	{% block main %}
	{% endblock %}

	
	{% block footer %}
	<footer class="bg-white relative">
		<div class="mx-auto max-w-7xl px-6 py-12 md:flex md:items-center md:justify-between lg:px-8 absolute bottom-0">
			<div class="mt-8 md:order-1 md:mt-0">
				<p class="text-center text-xs leading-5 text-gray-500">&copy; 2020 Your Company, Inc. All rights reserved.</p>
			</div>
		</div>
	</footer>
	{% endblock %}
			  
</body>
{% endblock %}




</html>