body {
  background-color: #0384fc;
  font-family: 'Roboto', sans-serif !important
}

.test {
  background-color: aqua;
  padding: 1rem;
}


ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: right;
}

li.logo {
  float: left;
  padding: 14px;
  font-family: Arial, Helvetica, sans-serif;
  color: aliceblue;
  font-size: large;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}