{% extends 'home_templates/home.html' %}

{% block main %}
<div class="bg-white">

  <div class="bg-gray-50 py-24 sm:py-32">
    <div class="mx-auto max-w-md px-6 sm:max-w-lg lg:max-w-7xl lg:px-8">
      <h1 class="text-center text-4xl font-bold leading-10 tracking-tight text-gray-900 sm:text-5xl sm:leading-none lg:text-6xl">About Kvartiri.bg</h1>
      <p class="mx-auto mt-6 max-w-3xl text-center text-xl leading-normal text-gray-500">
        Welcome to Kvartiri.bg, your gateway to a new era of renting studios, apartments, and single rooms. At Kvartiri.bg, we've reimagined the way people find their ideal living spaces, combining innovation with a seamless user experience. Our platform is designed with your convenience in mind, making the process of discovering your next home not just easy, but truly enjoyable.
      </p>
    </div>
  </div>

  <div class="bg-gray-50 py-24 sm:py-32">
    <div class="mx-auto max-w-md px-6 sm:max-w-lg lg:max-w-7xl lg:px-8">
      <h1 class="text-center text-4xl font-bold leading-10 tracking-tight text-gray-900 sm:text-5xl sm:leading-none lg:text-6xl">What sets Kvartiri.bg apart?</h1>
      <p class="mx-auto mt-6 max-w-3xl text-center text-xl leading-normal text-gray-500">
        Kvartiri.bg isn't just another rental platform – it's an innovative hub that redefines the rental experience. With cutting-edge technology and an intuitive interface, we've crafted a user-centric platform that makes finding your next living space an exciting journey.
        <hr>
      <p class="mx-auto mt-6 max-w-3xl text-center text-xl leading-normal text-gray-500">
        We understand that every individual has unique preferences and needs when it comes to their living space. Kvartiri.bg offers a diverse range of studios, apartments, and single rooms, ensuring that you'll find the perfect fit that resonates with your lifestyle and aspirations
      </p>
      <hr>
      <p class="mx-auto mt-6 max-w-3xl text-center text-xl leading-normal text-gray-500">
        For landlords, Kvartiri.bg is your trusted partner in showcasing your properties to a wide and eager audience. Our streamlined posting process simplifies property listings, enabling you to reach potential tenants quickly and efficiently.
      </p>
    </p>
    </div>
  </div>
  
  <div class="bg-gray-50 py-24 sm:py-32">
    <div class="mx-auto max-w-md px-6 sm:max-w-lg lg:max-w-7xl lg:px-8">
      <h1 class="text-center text-4xl font-bold leading-10 tracking-tight text-gray-900 sm:text-5xl sm:leading-none lg:text-6xl">Our mission</h1>
      <p class="mx-auto mt-6 max-w-3xl text-center text-xl leading-normal text-gray-500">Our Mission

        At Kvartiri.bg, our mission is to revolutionize the way people experience renting studios, apartments, and single rooms. We are driven by the belief that your living space should be more than just four walls – it should be a canvas for your aspirations, a sanctuary that reflects your identity, and a place where memories are born.</p>
    </div>
  </div>
         
</div>
{% endblock %}