{% extends 'home_templates/home.html' %} 
{% load static tailwind_tags %} 


 
{% block main %}
<div class="bg-white">
    <div class="mx-auto max-w-2xl px-4 py-16 sm:px-6 sm:py-24 lg:max-w-7xl lg:px-8">
      <div class="lg:grid lg:grid-cols-2 lg:items-start lg:gap-x-8">
        <!-- Image gallery -->
        <div class="flex flex-col-reverse">
          <!-- Image selector -->
          <div class="mx-auto mt-6 hidden w-full max-w-2xl sm:block lg:max-w-none">
            {% if user.is_authenticated and user.profile_finished %}
            <div class="grid grid-cols-4 gap-6" aria-orientation="horizontal" role="tablist">
              {% for picture in pictures %}
                <button id="tabs-1-tab-1" class="relative flex h-24 cursor-pointer items-center justify-center rounded-md bg-white text-sm font-medium uppercase text-gray-900 hover:bg-gray-50 focus:outline-none focus:ring focus:ring-opacity-50 focus:ring-offset-4" aria-controls="tabs-1-panel-1" role="tab" type="button">
                  <span class="absolute inset-0 overflow-hidden rounded-md">
                    <img src="{{ picture.picture.url }}" alt="" class="h-full w-full object-cover object-center">
                  </span>
                  <span class="ring-transparent pointer-events-none absolute inset-0 rounded-md ring-2 ring-offset-2" aria-hidden="true"></span>
                </button>
              {% endfor %}
              <!-- More images... -->
            </div>
            {% else %}
            <div class="space-y-6 text-base text-gray-700">
              <p>To see the rest of the pictures, you have to register first or log in into your account</p>
            </div>
          {% endif %}
          </div>
  
          <div class="aspect-h-1 aspect-w-1 w-full">
            <!-- Tab panel, show/hide based on tab state. -->
            <div id="tabs-1-panel-1" aria-labelledby="tabs-1-tab-1" role="tabpanel" tabindex="0">
              {% if property.images %}
                <img src="{{ property.images.url }}" alt="Angled front view with bag zipped and handles upright." class="h-full w-full object-cover object-center sm:rounded-lg">
              {% endif %}
            </div>
          </div>
        </div>
  
        <!-- Product info -->
        <div class="mt-10 px-4 sm:mt-16 sm:px-0 lg:mt-0">
          <h1 class="text-3xl font-bold tracking-tight text-gray-900">{{ property.type|title}}</h1>
  
          <div class="mt-3">
            <h2 class="sr-only">Product information</h2>
            <p class="text-3xl tracking-tight text-gray-900">{{ property.price_per_month }} BGN</p>
          </div>
  
          <div class="mt-3">
            <h3 class="sr-only">Active Since</h3>
            <div class="flex items-center">
              <div class="flex items-center">
                Active since: {{ created }}
              </div>
            </div>
          </div>
  
          <div class="mt-6">
            <h3 class="sr-only">Description</h3>
  
            <div class="space-y-6 text-base text-gray-700">
              <p>{{ property.about }}</p>
            </div>
          </div>
  
          <div class="mt-10 flex gap-2">
            {% if user.type == 'LANDLORD' and property.landlord_id == landlord.pk %}
              <a href="{% url 'edit_property' pk=property.pk %}" type="submit" class="flex max-w-xs flex-1 items-center justify-center rounded-md border border-transparent bg-indigo-600 px-8 py-3 text-base font-medium text-white hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2 focus:ring-offset-gray-50 sm:w-full">Edit offering</button>
              <a href="{% url 'delete_property' pk=property.pk %}" class="flex max-w-xs flex-1 items-center justify-center rounded-md border border-transparent bg-red-700 px-10 py-3 text-base font-medium text-white hover:bg-red-700 focus:outline-none focus:ring-2 focus:ring-red-500 focus:ring-offset-2 focus:ring-offset-gray-50 sm:w-full">
                Delete offering
              </a>
            {% elif user.type == 'TENANT' and user.is_authenticated %}
              <a href="{% url 'react' pk=property.pk %}" type="submit" class="flex max-w-xs flex-1 items-center justify-center rounded-md border border-transparent bg-indigo-600 px-8 py-3 text-base font-medium text-white hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2 focus:ring-offset-gray-50 sm:w-full">React to this property</button>
                {% if property in favourites %}
                  <a href="{% url 'remove favourite' pk=property.pk %}" class="flex max-w-xs flex-1 items-center justify-center rounded-md border border-transparent bg-red-700 px-10 py-3 text-base font-medium text-white hover:bg-red-700 focus:outline-none focus:ring-2 focus:ring-red-500 focus:ring-offset-2 focus:ring-offset-gray-50 sm:w-full">
                    Remove from favourites
                  </a>
                {% else %}
                  <a href="{% url 'add_to_favourite' pk=property.pk %}" class="flex max-w-xs flex-1 items-center justify-center rounded-md border border-transparent bg-red-700 px-10 py-3 text-base font-medium text-white hover:bg-red-700 focus:outline-none focus:ring-2 focus:ring-red-500 focus:ring-offset-2 focus:ring-offset-gray-50 sm:w-full">
                    Add to favourites
                  </a>
                {% endif %}
            {% else %}
              <p class="space-y-6 text-base">To be able to react to this property you need to be a registered user or have an existing account</p>
              <a href="{% url 'register' %}" type="submit" class="flex max-w-xs flex-1 items-center justify-center rounded-md border border-transparent bg-indigo-600 px-8 py-3 text-base font-medium text-white hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2 focus:ring-offset-gray-50 sm:w-full">Register</a>
            {% endif %}
          </div>

          <section aria-labelledby="details-heading" class="mt-12">
            <div class="divide-y divide-gray-200 border-t">
              <div>
                <h3>
                  <span class="group relative flex w-full items-center justify-between py-6 text-left text-gray-900 text-sm font-medium">Property details</span>
                </h3>
                {% if user.is_authenticated and user.profile_finished %}
                <div class="prose prose-sm pb-6" id="disclosure-1">
                  <ul role="list">
                    <li>Furinished: {{ property.furnished|title }}</li>
                    <li>Utilities inlcuded in the monthly rent: {{ property.utilities_included|title }}</li>
                    <li>Location: {{ property.town|title }}</li>
                    <li>Size: {{ property.size }} square meters</li>
                    <li>Street Address: {{ property.address }}</li>
                  </ul>
                </div>
                {% else %}
                  <div class="space-y-6 text-base text-gray-700">
                    <p>To see the details of this property, you have to register first or log in into your account</p>
                  </div>
                {% endif %}
              </div>
            </div>
          </section>

          <section aria-labelledby="details-heading" class="mt-5">
            <div class="divide-y divide-gray-200 border-t">
              <div>
                <h3>
                  <span class="group relative flex w-full items-center justify-between py-6 text-left text-gray-900 text-sm font-medium">Landlord's details</span>
                </h3>
                {% if user.is_authenticated and user.profile_finished %}
                  <div class="prose prose-sm pb-6" id="disclosure-1">
                    <ul role="list">
                      <li>Landlord's name: {{ landlord.first_name }} {{ landlord.last_name }}</li>
                      <li>Landlord's phone number: {{ landlord.phone_number }}</li>
                    </ul>
                  </div>
                {% else %}
                  <div class="space-y-6 text-base text-gray-700">
                    <p>To see the details of the landlord, you have to register first or log in into your account</p>
                  </div>
              {% endif %}
              </div>
            </div>
          </section>

        </div>
      </div>
    </div>
  </div>
  
{% endblock %}







